.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}

.todo {
    background-color: #F26419;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
}

.in-progress {
    background-color: #4ECDC4;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
}

.done {
    background-color: #1A535C;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
}